In [18]:
# import required libraries
import numpy as np
import pandas as pd
from statistics import mode

In [19]:
# import the dataset
data = pd.read_csv("accident_data.csv")
data.shape

(660679, 14)

In [20]:
# first five records
data.head()

,Index,Accident_Severity,Accident Date,Latitude,Light_Conditions,District Area,Longitude,Number_of_Casualties,Number_of_Vehicles,Road_Surface_Conditions,Road_Type,Urban_or_Rural_Area,Weather_Conditions,Vehicle_Type
0,200701BS64157,Serious,05-06-2019,51.506187,Darkness - lights lit,Kensington and Chelsea,-0.209082,1,2,Dry,Single carriageway,Urban,Fine no high winds,Car
1,200701BS65737,Serious,02-07-2019,51.495029,Daylight,Kensington and Chelsea,-0.173647,1,2,Wet or damp,Single carriageway,Urban,Raining no high winds,Car
2,200701BS66127,Serious,26-08-2019,51.517715,Darkness - lighting unknown,Kensington and Chelsea,-0.210215,1,3,Dry,NaN,Urban,NaN,Taxi/Private hire car
3,200701BS66128,Serious,16-08-2019,51.495478,Daylight,Kensington and Chelsea,-0.202731,1,4,Dry,Single carriageway,Urban,Fine no high winds,Bus or coach (17 or more pass seats)
4,200701BS66837,Slight,03-09-2019,51.488576,Darkness - lights lit,Kensington and Chelsea,-0.192487,1,2,Dry,NaN,Urban,NaN,Other vehicle

In [21]:
# check datatypes
data.dtypes

Index                       object
Accident_Severity           object
Accident Date               object
Latitude                   float64
Light_Conditions            object
District Area               object
Longitude                  float64
Number_of_Casualties         int64
Number_of_Vehicles           int64
Road_Surface_Conditions     object
Road_Type                   object
Urban_or_Rural_Area         object
Weather_Conditions          object
Vehicle_Type                object
dtype: object

In [22]:
# descriptive statistics
data.describe(include='all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
Index,660679,421020,2.01E+12,239478,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Accident_Severity,660679,3,Slight,563801,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Accident Date,660679,1461,30-11-2019,704,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Latitude,660654.0,NaN,NaN,NaN,52.553866,1.406922,49.91443,51.49069,52.315641,53.453452,60.757544
Light_Conditions,660679,5,Daylight,484880,NaN,NaN,NaN,NaN,NaN,NaN,NaN
District Area,660679,422,Birmingham,13491,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Longitude,660653.0,NaN,NaN,NaN,-1.43121,1.38333,-7.516225,-2.332291,-1.411667,-0.232869,1.76201
Number_of_Casualties,660679.0,NaN,NaN,NaN,1.35704,0.824847,1.0,1.0,1.0,1.0,68.0
Number_of_Vehicles,660679.0,NaN,NaN,NaN,1.831255,0.715269,1.0,1.0,2.0,2.0,32.0
Road_Surface_Conditions,659953,5,Dry,447821,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Road_Type,656159,5,Single carriageway,492143,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Urban_or_Rural_Area,660664,3,Urban,421663,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Weather_Conditions,646551,8,Fine no high winds,520885,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Vehicle_Type,660679,16,Car,497992,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
# concise summary
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 660679 entries, 0 to 660678
Data columns (total 14 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   Index                    660679 non-null  object
 1   Accident_Severity        660679 non-null  object
 2   Accident Date            660679 non-null  object
 3   Latitude                 660654 non-null  float64
 4   Light_Conditions         660679 non-null  object
 5   District Area            660679 non-null  object
 6   Longitude                660653 non-null  float64
 7   Number_of_Casualties     660679 non-null  int64
 8   Number_of_Vehicles       660679 non-null  int64
 9   Road_Surface_Conditions  659953 non-null  object
 10  Road_Type                656159 non-null  object
 11  Urban_or_Rural_Area      660664 non-null  object
 12  Weather_Conditions       646551 non-null  object
 13  Vehicle_Type             660679 non-null  object
dtypes: float64(2), int64(2), object(10)
memory usage: 70.6+ MB

In [24]:
# check for null values
data.isnull().sum()

Index                          0
Accident_Severity              0
Accident Date                  0
Latitude                      25
Light_Conditions               0
District Area                  0
Longitude                     26
Number_of_Casualties           0
Number_of_Vehicles             0
Road_Surface_Conditions      726
Road_Type                   4520
Urban_or_Rural_Area           15
Weather_Conditions         14128
Vehicle_Type                   0
dtype: int64

In [25]:
# check for duplicate records
data.duplicated().sum()

19

In [26]:
# remove duplicates
data = data.drop_duplicates()

In [27]:
def impute_missing_values(data):
    for i in data.columns:
        if data[i].dtype == 'O' and data[i].isnull().sum() > 0:
            data[i] = data[i].fillna(value=mode(data['Accident_Severity']))
    return data

In [28]:
data = impute_missing_values(data)
data.isnull().sum()

Index                       0
Accident_Severity           0
Accident Date               0
Latitude                   25
Light_Conditions            0
District Area               0
Longitude                  26
Number_of_Casualties        0
Number_of_Vehicles          0
Road_Surface_Conditions     0
Road_Type                   0
Urban_or_Rural_Area         0
Weather_Conditions          0
Vehicle_Type                0
dtype: int64

In [29]:
data.describe(include='all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
Index,660660,421020,2.01E+12,239459,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Accident_Severity,660660,3,Slight,563782,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Accident Date,660660,1461,30-11-2019,704,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Latitude,660635.0,NaN,NaN,NaN,52.553857,1.406909,49.91443,51.490692,52.315628,53.453451,60.757544
Light_Conditions,660660,5,Daylight,484866,NaN,NaN,NaN,NaN,NaN,NaN,NaN
District Area,660660,422,Birmingham,13491,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Longitude,660634.0,NaN,NaN,NaN,-1.431216,1.383322,-7.516225,-2.332278,-1.411666,-0.23287,1.76201
Number_of_Casualties,660660.0,NaN,NaN,NaN,1.357047,0.824856,1.0,1.0,1.0,1.0,68.0
Number_of_Vehicles,660660.0,NaN,NaN,NaN,1.831255,0.715272,1.0,1.0,2.0,2.0,32.0
Road_Surface_Conditions,660660,6,Dry,447810,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Road_Type,660660,6,Single carriageway,492135,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Urban_or_Rural_Area,660660,4,Urban,421660,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Weather_Conditions,660660,9,Fine no high winds,520872,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Vehicle_Type,660660,16,Car,497973,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
# check for duplicates
data.duplicated().sum()

0

In [31]:
# save the data as excel file
with pd.ExcelWriter("RoadAccident.xlsx", engine='openpyxl') as writer:
    data.to_excel(writer, index=False)